<tr>
  <td><%= moment(episodio.data).format('DD/MM/YYYY') %></td>
  <td><%= episodio.titolo_episodio %></td>
  <td><%= episodio.descrizione %></td>
  <td><%= episodio.sponsor %></td>
  <td><%= episodio.costo %></td>
</tr>