<tr>
  <td><%= episodi.audio %></td>
  <td><%= episodi.titolo %></td>
  <td><%= episodi.descrizione %></td>
  <td><%= moment(episodi.data).format('DD/MM/YYYY') %></td>  
  <td><%= episodi.sponsor %></td>
  <td><%= episodi.costo %></td>
</tr>